* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.container.dark{
    background-color: #262626;
}
.toggle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #eee8e1;
  position: absolute;
  top: 3rem;
  right: 4rem;
  display: grid;
  place-items: center;
  cursor:pointer;
}
.container.dark .toggle{
    background-color: #464646;
}
.toggle i {
  font-size: 3rem;
  color: #777;
}
.container.dark .toggle i{
    color: #ddd;
}
            
.card {
  width: 50rem;
  height: 30rem;
  border-radius: 2rem;
  position: relative;
  box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.3);
  display: flex;
}
.container.dark .card{
    background-color: #353535;
}
.card-map {
  width: 40rem;
  position: absolute;
  top: 5rem;
  left: 5rem;
  opacity: 0.3;
  z-index: 50;
}

.card-chip {
  width: 6rem;
}
.card-left {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #777;
  padding: 2rem;
  z-index: 100;
}
.container.dark .card-left{
    color:#ccc;
}
.card-type {
  font-size: 2rem;
  letter-spacing: .1rem;
}
.card-num{
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: .1rem;
}
.card-text{
    font-size: 1rem;
    font-weight: 400;
}
.card-date{
    font-weight: bold;
    letter-spacing: .1rem;
}
.card-holder{
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .1rem;
}
.card-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0rem 2rem 3rem 0rem;
    z-index: 100;
}
.red-color,.orange-color{
    width: 5rem;
    height: 5rem;
    background-color: #eb001b;
    border-radius: 50%;
}
.orange-color{
    background-color: #ff5f00;
    position: relative;
    right: 1.5rem;
    opacity: .7;
}